* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: red;
  height: 400px;
}

.card-principal {
  display: flex;
  gap: 25px;
  row-gap: 10px;
  flex-wrap: wrap;
  width: 800px;
  height: 100%;
}

.container-perfil {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}

.card-perfil {
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  margin-bottom: 20px;
  height: 70%;
}
.perfil-img {
  width: 65px;
  height: 65px;
  margin: 22px;
  border: 2px solid white;
  border-radius: 50%;
}
.perfil-img img {
  width: 100%;
  object-fit: cover;
}

.card-perfil p {
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 14px;
}

.card-perfil h1 {
  color: white;
  padding-left: 25px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.btns button {
  background-color: transparent;
  color: hsl(235, 45%, 61%);
  border: none;
  padding-left: 25px;
  margin: 8px;
}

.btns button:nth-child(2) {
  color: hsl(236, 100%, 87%);
}

button:hover {
  cursor: pointer;
}

.container-card-map {
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 200px;
  height: 180px;
  border-radius: 10px;
}

.card-map-img {
  width: 40px;
  height: 40px;
  padding-top: 2px;
  margin-left: 80%;
}
.card-map-img img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.card-map {
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  height: 100%;
  padding: 20px 20px;
  color: white;
}
.details-time {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.details-time button {
  background-color: transparent;
  color: white;
  font-weight: bold;
  border: none;
}

.timer {
  display: block;
}

.timer h2 {
  font-size: 52px;
  font-weight: 400;
}

.timer p {
  font-size: 14px;
  padding-top: 10px;
  color: hsl(236, 100%, 87%);
}
