* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container-principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 900px;
  height: 420px;
}

.card-principal {
  display: flex;
  gap: 25px;
  row-gap: 25px;
  flex-wrap: wrap;
  width: 800px;
  height: 100%;
}

.container-perfil {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}

.card-perfil {
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  margin-bottom: 20px;
  height: 70%;
}
.perfil-img {
  width: 65px;
  height: 65px;
  margin: 22px;
  border: 3px solid white;
  border-radius: 50%;
}
.perfil-img img {
  width: 100%;
  object-fit: cover;
}

.card-perfil p {
  color: hsl(236, 100%, 87%);
  padding-left: 25px;
  padding-top: 10px;
  font-size: 12px;
}

.card-perfil h1 {
  color: white;
  font-weight: 200;
  padding-left: 25px;
  padding-top: 8px;
}

.btns {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.btns button {
  background-color: transparent;
  color: hsl(235, 45%, 61%);
  border: none;
  padding-left: 25px;
  margin: 8px;
}

.btns button:nth-child(2) {
  color: hsl(236, 100%, 87%);
}

button:hover {
  cursor: pointer;
  color: hsl(236, 100%, 87%);
}

.container-card-map {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 180px;
  border-radius: 10px;
}

.card-map-img {
  width: 70px;
  height: 40px;
  margin-left: 55%;
}
.card-map-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-map {
  display: flex;
  flex-direction: column;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  height: 100%;
  padding: 20px;
  color: white;
}
.card-map:hover {
  background-color: hsl(235, 45%, 40%);
  transition: 0.5s;
  cursor: pointer;
}
.details-time {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.details-time button {
  background-color: transparent;
  color: hsl(236, 100%, 87%);
  font-weight: 900;
  font-size: 20px;
  border: none;
}
.details-time button:hover {
  color: white;
}
.timer {
  display: block;
}

.timer h2 {
  font-size: 44px;
  font-weight: 200;
}

.timer p {
  font-size: 14px;
  padding-top: 10px;
  color: hsl(236, 100%, 87%);
}

.orange {
  background-color: hsl(15, 100%, 70%);
}
.aqua {
  background-color: hsl(195, 74%, 62%);
}
.red {
  background-color: hsl(348, 100%, 68%);
}
.green {
  background-color: hsl(145, 58%, 55%);
}
.violet {
  background-color: hsl(264, 64%, 52%);
}
.yellow {
  background-color: hsl(43, 84%, 65%);
}

/* responsive */

@media screen and (max-width: 480px) {
  .container-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    height: 100%;
    gap: 20px;
  }
  .card-principal {
    display: flex;
    flex-direction: column;
    width: 230px;
    gap: 0;
    row-gap: 20px;
  }
  .container-perfil {
    display: flex;
    width: 230px;
    height: 150px;
    margin-top: 500px;
  }
  .card-perfil {
    display: flex;
    height: 70%;
    margin: 0;
  }

  .perfil-img {
    margin: 22px 15px 10px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .perfil-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    width: 70%;
    padding-top: 30px;
    text-align: start;
  }
  .info p {
    padding: 0;
    font-size: 10px;
  }
  .info h1 {
    padding: 5px 0px;
    font-size: 18px;
  }

  .btns {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30%;
  }
  .btns button {
    background-color: transparent;
    color: hsl(235, 45%, 61%);
    border: none;
    padding-left: 5px;
    margin: 8px;
  }

  .container-card-map {
    display: flex;
    width: 230px;
    height: 120px;
  }
  .card-map-img {
    width: 50px;
    height: 25px;
    margin-left: 75%;
  }
.card-map {
  height: 100%;
  padding: 12px;
}
.details-time {
  align-items: center;
}
.details-time button {
  font-size: 16px;
}
.timer {
  display: flex;
  justify-content: space-between;
}
.timer h2 {
  font-size: 22px;
}
.timer p {
  font-size: 10px;
}
}
